:root {
    --minh: 98vh;
    --color1: wheat;
    --color2: midnightblue;
  }

@font-face {
    font-family: "Ubuntu";
    src: ("./assets/Ubuntu-Regular.ttf");
}

html {
    background-color: rgb(50, 50, 50);
    color: rgb(205, 205, 205);
    font-family: "Ubuntu";
}

p {
    padding: 80px;
    font-size: 26px;
}

/* Fadeable class; configure transition types, timings, and other class styling attributes here */
.fadeable-section {
    opacity: 0;
    transition: 1s opacity;
}

/* Navbar */
#navigation-bar {
    height: 60px;
    background-color: rgb(60, 60, 60);
}

#navigation-bar a {
    color: white;
    text-align: center;
    text-decoration: none;
}

#navigation-bar .title {
    margin: 0px;
    padding-block: 16px;
    padding-inline: 25px;
}

#navigation-bar .nav-link{
    display: inline-block;
    text-align: center;

    font-family: "Ubuntu";
    background-color: gray;
    text-decoration: none; 
    font-weight: bold;
    transition: 0.5s -webkit-transform, 0.5s background-color;

    width: 60px;
    margin: 2px;

    padding: 10px;
}

#navigation-bar li:hover {
    background-color: darkgray;
    transform: scaleY(1.04)
}